@import 'assets/styles/vars.scss';

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-dark-600;
    padding: 24px 8px;
    min-height: 144px;

    .title {
        color: $color-primary-300;
        font-size: 22px;
        font-family: Inter;
        text-align: center;
    }

    .seperator {
        margin: 10px 0;
        width: 56px;
        color: $color-light;
    }

    .content {
        color: $color-light;
        font-size: 18px;
    }
}
