@import 'assets/styles/vars.scss';

.hambugerMenuWrapper {
    position: relative;

    .hambugerMenuToogle {
        cursor: pointer;
    }

    .hambugerMenu {
        display: flex;
        position: absolute;
        left: -255px;
        flex-direction: column;
        visibility: hidden;
        opacity: 0;
        z-index: 1;
        transition: visibility 0s linear 0.33s, opacity 0.33s linear;

        &.show {
            visibility: visible;
            opacity: 1;
            transition-delay: 0s;
        }

        .hambugerMenuItem {
            display: flex;
            align-items: center;
            cursor: pointer;
            border-bottom: 1px solid rgba(255, 255, 255, 0.15);
            background-color: $color-gray-400;
            padding: 0 32px;
            width: 280px;
            height: 72px;
            color: $color-light;

            &:hover {
                background-color: $color-primary-400;
            }
        }
    }
}
