@import 'assets/styles/vars.scss';

.container {
    .achievement {
        display: flex;

        .rate {
            position: relative;
            flex: 40%;

            .image {
                background-position: center;
                background-size: cover;
                width: 100%;
                height: 100%;
            }

            .percent {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: $color-light;

                .label {
                    color: $color-light;
                    font-size: 25px;
                    text-shadow: $text-shadow-primary;
                }
            }
        }

        .bodyWeight {
            flex: 60%;
            background-color: $color-dark-600;
        }
    }

    .inputs {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        margin-top: 56px;
        padding: 0 $default-padding-x;
    }

    .history {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 8px;
        row-gap: 8px;
        margin-top: 56px;
        padding: 0 $default-padding-x;
    }

    .loadMore {
        margin-top: 30px;
        margin-bottom: 64px;
        text-align: center;
    }
}
