.backgroundVideo {
    position: fixed;
    top: 0;
    float: left;
    padding: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-bottom: 24px;
        text-align: center;

        img {
            margin-right: 8px;
            width: 100vh;
        }
    }

    .rememberMe {
        color: white;
    }

    .loginBtn {
        width: 100%;
    }
}
