@import 'assets/styles/vars.scss';

.container {
    position: relative;
    border: 24px solid $color-primary-300;
    background-color: $color-dark-600;
    aspect-ratio: 1;

    .image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0.25;
        height: 100%;
    }

    .description {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        .title {
            color: $color-primary-300;
            font-size: 25px;
            font-family: Inter;
        }

        .content {
            margin-top: 10px;
            background-color: $color-primary-400;
            padding: 3px 5px;
            color: $color-light;
            font-size: 14px;
        }
    }
}
