@import 'assets/styles/vars.scss';

.container {
    position: relative;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    background: $color-primary-300-400;
    width: 200px;
    height: 200px;

    .content {
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translate(-50%, -50%);
        z-index: 1;

        .icon {
            width: 53px;
            height: 45px;
        }

        .label {
            color: $color-light;
            font-size: 20px;
            font-family: Inter;
        }
    }
}
