@import 'assets/styles/vars.scss';

.container {
    position: relative;

    .hex {
        position: relative;
        width: 200px;
        height: 115.47px;
        background: $color-primary-300-400;
        margin: 57.74px 0;
        border-left: solid 2px #000000;
        border-right: solid 2px #000000;

        &:before,
        &:after {
            content: '';
            position: absolute;
            z-index: 1;
            width: 141.42px;
            height: 141.42px;
            -webkit-transform: scaleY(0.5774) rotate(-45deg);
            -ms-transform: scaleY(0.5774) rotate(-45deg);
            transform: scaleY(0.5774) rotate(-45deg);
            background: $color-primary-300-400;
            left: 27.2893px;
        }

        &:before {
            top: -70.7107px;
            border-top: solid 2.8284px #000000;
            border-right: solid 2.8284px #000000;
        }

        &:after {
            bottom: -70.7107px;
            border-bottom: solid 2.8284px #000000;
            border-left: solid 2.8284px #000000;
        }
    }

    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .icon {
            width: 53px;
            height: 45px;
        }

        .label {
            font-family: Inter;
            font-size: 20px;
            color: $color-light;
        }
    }
}
