.scrollToTop {
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 2;
    cursor: pointer;
    border: 1.5px solid black;
    border-radius: 50%;
    background-color: transparent;
    width: 40px;
    height: 40px;

    &:active {
        transform: matrix(0.95, 0, 0, 0.95, 0, 0);
    }
}
