$color-light: #ffffff;
$color-primary-300: #ffcc21;
$color-primary-400: #ff963c;
$color-primary-500: #ea6c00;
$color-primary-300-400: linear-gradient(180deg, #ffcc21 0%, #ff963c 100%);
$color-dark-600: #2e2e2e;
$color-dark-500: #414141;
$color-gray-400: #777777;
$default-padding-x: 160px;
$text-shadow-primary: 0px 0px 6px #fca500;
